<%- include("partials/header"); -%>
<style media="screen">
  h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-Bold";
  }

  h6{
    font-size: 3.0rem;
  }

  .big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .big-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .medium-heading{
    font-family: "Montserrat-Black";
    font-size: 4.0rem;
    line-height: 4.0;
  }

  .small-heading{
    font-family: "Montserrat-Black";
    font-size: 3.0rem;
    line-height: 8.0;

  }

  .frontrow{
    background-color: #FEFAE0;
    text-align: center;
  border-top: 2px solid #CCD5AE;
  border-bottom: 2px solid #CCD5AE;
  }

  .NY{
    font-family: "Montserrat-Black";
    background-color: #CCD5AE;
    text-align: center;
    align-items:center;
    margin-top: 8rem;
    padding-top: 5rem;
      font-family: "Montserrat-Black";
  }

  .imgspace{
    margin: 5rem;
    <!-- margin-right: 60%; -->
  }

</style>

<div class="frontrow">

  <!-- <div class="card">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A well-known quote, contained in a blockquote element.</p>

      </blockquote>
    </div>
  </div> -->

    <h3 class="medium-heading">Quote of the Day!</h3>
    <h6 class="big-heading"><%=content%></h6>
    <footer class="blockquote-footer small-heading">From - <cite title="Source Title"><%=book%></cite></footer>

</div>


  <!-- <div class="card mb-3">
    <img class="card-img-top" src=<%=image%> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%=title%></h5>
      <p class="card-text"><%=description%></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> -->





<div class="NY container">
  <div class="row">
    <h3 class="medium-heading col-12">New York Times Bestseller</h3>
    <h6>Rank 1: </h6>
  </div>
<div class="row">
      <div class="col-6">
        <img class="card-img-top imgspace"  src="<%=image%>" alt="Card image cap">
      </div>

    <div class="bookDetails col-6">
      <h2>Title: <%=title%></h2>
      <h4><%=description%></h4>
      <h3>Author: <%=author%></h3>
      <h3>Weeks on the list: <%=weeks%></h3>
    </div>
</div>



<!-- ------------------------------------------------ -->
   <!-- <div class="row d-flex justify-content-center align-items-center">
  <div class="card" style="width: 45rem;">

      <div class="card-body">
        <h5 class="card-title"><%=title%></h5>
        <p class="card-text"><%=description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: <%=author%></li>
        <li class="list-group-item">Weeks on list: <%=weeks%></li>

        <!-- <li class="list-group-item">Vestibulum at eros</li> -->
      <!-- </ul>
  </div>
</div> --> %> -->

<!-- --------------------------------------------------------- -->
</div>

    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>-->



</body>
</html>
